*{
  padding: 0;
  margin: 0;
  text-align: center;
}

.align{
  display: inline-block;
  vertical-align: top;
}

.flex{
  display: flex;
}

hr{
  margin-top: 10px;
  margin-bottom: 10px;
}

button{
  color: white;
  background-color: #eb2009;
  min-width: 150px;
  min-height: 30px;
  border: none;
  border-radius: 400px;
}button:hover{
  cursor: pointer;
  background-color: #c71400;
}

header, footer{
  height: 10vh;
  background-color: black;
  color: white;
  display: flex;
}
.center{
  margin: auto;
}
footer a{
  text-decoration: none;
  color: white;
}footer a:hover{
  text-decoration: underline;
}

#container{
  min-height: 80vh;
  background-color: #1E1E1E;
}
.item{
  display: inline-block;
  background-color: #151515;
  width: 300px;
  height: 200px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;
  vertical-align: top;
}
.item img{
  height: 80%;
}
.item a {
  color: white;
  text-decoration: none;
}.item a:hover{
  text-decoration: underline;
}

#title{
  color: white;
  text-decoration: none;
}
