{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Estates' list</title>
    <link rel="stylesheet" type="text/css" href="{% static 'adverts/style/base.css' %}">
  </head>
  <body>
  {% if latest_estate_list %}
      <div id="container">
      {% for estate in latest_estate_list %}
          <div class="item">
            <img src="{{ estate.image }}" alt="preview image"><br>
            <a href="{% url 'adverts:detail' estate.id %}">{{ estate.rooms}} rooms {{ estate.type }} at {{ estate.city }}</a>
          </div>
      {% endfor %}
    </div>
  {% else %}
      <p>No estates are available.</p>
  {% endif %}
  </body>
</html>
